<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-6xl text-blue-500 font-bold">Sostô</h1>
  <p class="max-w-md text-center mt-3 text-gray-600">
    Sostô é um <i class="font-medium">pré-biuld project</i> open source que já
    vem com uma arquitetura de projeto pronta e no-config.
  </p>
  <nav class="mt-4">
    <ul class="flex">
      <li class="p-2">
        <a href="#" class="flex items-center hover:underline"
          ><i class="fas fa-play-circle mr-2"></i>Get started</a
        >
      </li>
      <li class="p-2">
        <a href="{{GITHUB_URL}}" class="flex items-center hover:underline"
          ><i class="fab fa-github mr-2"></i>Git hub</a
        >
      </li>
    </ul>
  </nav>
</div>
